body {
    font-family: Sans-serif, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: #66B;
}
a:visited {
    color: #66B;
}

h1 {
    color: #DDD;
    font-size: 50px;
    background-color: #BBB;
    margin: 0;
    padding: 10px 50px;
    text-shadow: 0px 0px 20px black, 0px 0px 1px black;
    border-bottom: solid 1px #888;
}

div.docs_block {
    position: relative;
    padding-left: 220px;
}

div.navigation {
    margin: 0px;
    padding: 0px;
    background-color: #BBB;
    background: linear-gradient(to bottom, #BBB, #888, #BBB);
    overflow: hidden;
    padding: 0px 40px;
    border-bottom: solid 1px #888;
}
div.navigation ul {
    margin: 0;
    display: block;
    padding: 0;
    border: 0;
}
div.navigation ul li {
    padding: 0px;
    border-width: 0px;
    display: inline-block;
    margin:  0;
    font-size: 25px;
}
div.navigation ul li span {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 10px;
    border-left: solid 1px #666;
    border-right: solid 1px #666;
    background: linear-gradient(to bottom, #CCC, #999, #CCC);
}
div.navigation ul li a {
    padding-left: 10px;
    padding-right: 20px;
    color: #333;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}
div.navigation ul li a:hover {
    color: #555;
}
div.breadcrumbs {
    padding: 8px 50px;
    font-size: 11px;
    background-color: #DDD;
    border-bottom: solid 1px #BBB;
}
div.breadcrumbs a {
    margin-right: 7px;
    margin-left: 7px;
}
div.breadcrumbs a:first-child {
    margin-left: 0;
}

#page_content {
    padding-left: 40px;
    padding-right: 40px;
}

h2 {
    font-size: 30px;
    padding: 0px 10px;
    color: #333;
    border-bottom: solid #333 2px;
    margin: 5px 0px 10px;
}

h3 {
    font-size: 1em;
    padding: 0px;
    color: #888;
    border-bottom: solid 1px #888;
    font-weight: bold;
}

div.downloads {
    float: right;
    width: 290px;
    height: auto;
    margin: 0px 20px 5px;
    border: solid 1px #333;
    box-shadow: 0px 0px 10px #888;
    border-radius: 4px;
    background-color: #DDD;
    padding: 0px 0px 10px;
}
div.downloads > h2 {
    border-bottom: solid #333 1px;
    font-size: 20px;
    padding: 5px 20px 5px;
    margin: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(to bottom, #CCC, #999, #CCC);
}
div.downloads > a {
    border: solid #8C8 2px;
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #AFA, #8C8 10%, #7B7 90%, #363);
    margin: 10px 20px 0px;
}
div.downloads > a:hover {
    background: linear-gradient(to bottom, #CCC, #BBB 10%, #AAA 90%, #555);
}

div.introduction > h2 {
    margin-right: 330px; /* leave room for downloads box */
    
}
div.introduction p
{
    margin: 0px 10px 10px;
    text-align: justify;
}

div.sellit {
    max-width: 30%;
    float: left;
    padding: 0px 15px;
    text-align: justify;
}

div.side_menu {
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
}

div.side_menu ul {
    margin: 0;
    list-style: square;
    padding-left: 20px;
}
div.side_menu ul li {
}

div.side_menu > a {
    margin-top: 10px;
    display: block;
}

div.side_menu > b {
    margin-top: 10px;
    display: block;
    font-weight: normal;
    color: #666;
}

div.api-documentation-content h3 {
    font-size: 1.5em;
    margin-top: 80px;
}

div.api-documentation-content h4 {
    margin: 20px 30px 0px;
    font-size: 11px;
    color: #666;
    
}
div.api-documentation-content pre {
}

div.api-documentation-content h4 + pre {
    margin-top: 0px;
    color: #666;
    background-color: #ddd;
    border: dashed 1px #bbb;
    margin: 5px 30px 10px;
    padding: 5px;
}
