<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<h1>Demo - Example 2</h1>

<div style="position: relative;">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content" style="margin-left: 220px;">
        <pre>
        TODO
        - Example 2
        - how to use it, manipulate it
        - source code
        - link to full documentation?
        </pre>
    </div>
</div>

<?php
page_foot();

