<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<h1>Documentation - CSS Guidelines</h1>

<div style="position: relative;">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content" style="margin-left: 220px;">
        <pre>
        TODO
        - How to nest everything inside CSS classes to avoid issues
        - Which styles to avoid putting into CSS so that positioning methods work properly
        </pre>
    </div>
</div>

<?php
page_foot();


