<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<h1>Documentation - class ADS_Atom</h1>

<div style="position: relative;">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content" style="margin-left: 220px;">
        <pre>
        TODO
        - How to use ADS_Atom, use it to identify Atoms
        - How to implement other methods it
        </pre>
    </div>
</div>

<?php
page_foot();


