<?php
include 'menu.php';
page_head(basename(__FILE__));
?>

<div class="docs_block">
    <h2>Atom Method Reference - Standard</h2>
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content">
        <p>
            Most atoms will implement the following standard methods:
        </p>
        <ul>
            <li><a href="#atom_SetID">atom_SetID()</a></li>
            <li><a href="#atom_GetID">atom_GetID()</a></li>
            <li><a href="#atom_AddClass">atom_AddClass()</a></li>
            <li><a href="#atom_RemoveClass">atom_RemoveClass()</a></li>
            <li><a href="#atom_GetClasses">atom_GetClasses()</a> (PHP only)</li>
            <li><a href="#atom_SetContentHTML">atom_SetContentHTML()</a></li>
            <li><a href="#atom_SetContentText">atom_SetContentText()</a></li>
            <li><a href="#atom_GetContentHTML">atom_GetContentHTML()</a></li>
            <li><a href="#atom_GetHTML">atom_GetHTML()</a></li>
            <li><a href="#atom_GetJQObject">atom_GetJQObject()</a> (Javascript only)</li>
        </ul>

        <a name="atom_SetID"></a>
        <h3>atom_SetID()</h3>

        <code>atom_SetID(element_id)</code>
        <dl>
            <dt>element_id</dt>
            <dd>The value you would like to use as ID attribute for the Atom's outermost DOM node.</dd>
        </dl>

        <p>
        <b>atom_SetID(element_id)</b> forces the most external html element of the Atom to use the provided string as
        its <a href="http://www.w3.org/TR/html-markup/global-attributes.html#common.attrs.id">id</a> attribute value.
        </p>

        <p>You can use <b>atom_SetID(false)</b> to clear the <u>id</u> attribute.</p>

        <h4>Example (JS)</h4>
        <pre>
var my_widget = new Atom_MyWidget();
my_widget.atom_SetID("my-widget-5");
my_widget.atom_GetJQObject().appendTo('body');</pre>
        <h4>Example (PHP)</h4>
        <pre>
$my_widget = new Atom_MyWidget();
$my_widget-&gt;atom_SetID("my-widget-5");
echo $my_widget-&gt;atom_GetHTML();</pre>
        <h4>Result:</h4>
        <pre>
&lt;<i>html-element</i> id="my-widget-5"&gt;
    <i>widget html</i>
&lt;/<i>html-element</i>&gt;</pre>



        <a name="atom_GetID"></a>
        <h3>atom_GetID()</h3>

        <code>id_value = atom_GetID()</code>

        <p>
        <b>atom_GetID()</b> returns the
        <a href="http://www.w3.org/TR/html-markup/global-attributes.html#common.attrs.id">id</a>
        attribute of the Atom's most external html element. Usually the Atom won't have an <u>id</u> attriute, unless
        you have already used <a href="#atom_SetID">atom_SetID()</a>.
        </p>



        <a name="atom_AddClass"></a>
        <h3>atom_AddClass()</h3>

        <code>atom_AddClass(class_name)</code>
        <dl>
            <dt>class_name</dt>
            <dd>The new CSS class name you would like to the class attribute for the Atom's outermost DOM node.</dd>
        </dl>

        <p>
            <b>atom_AddClass(class_name)</b> adds a class name to the
            <a href="http://www.w3.org/TR/html-markup/global-attributes.html#common.attrs.class">class</a>
            attribute of the most external html element of the Atom.
        </p>

        <p>
            <b>Note:</b> if the class name has already been added, subsequent attempts to add the same
            class name again will be ignored.
        </p>

        <h4>Example (JS)</h4>
        <pre>
var my_widget = new Atom_MyWidget();
my_widget.atom_AddClass("hidden_widget");
my_widget.atom_AddClass("red_widget");
my_widget.atom_GetJQObject().appendTo('body');</pre>
        <h4>Example (PHP)</h4>
        <pre>
$my_widget = new Atom_MyWidget();
$my_widget-&gt;atom_AddClass("hidden_widget");
$my_widget-&gt;atom_AddClass("red_widget");
echo $my_widget-&gt;atom_GetHTML();</pre>
        <h4>Result:</h4>
        <pre>
&lt;<i>html-element</i> class="hidden_widget red_widget"&gt;
    <i>widget html</i>
&lt;/<i>html-element</i>&gt;</pre>



        <a name="atom_RemoveClass"></a>
        <h3>atom_RemoveClass()</h3>

        <code>atom_RemoveClass(class_name)</code>
        <dl>
            <dt>class_name</dt>
            <dd>The CSS class name you would like to remove from the Atom's outermost DOM node.</dd>
        </dl>

        <p>
            <b>atom_RemoveClass(class_name)</b> removes a class name that was previously added using
            <b>atom_AddClass()</b>
        </p>

        <p>
            <b>Note:</b> there is no error if the class name has already been removed, or was never added to begin with.
        </p>



        <a name="atom_GetClasses"></a>
        <h3>atom_GetClasses()</h3>
        <code>atom_GetClasses()</code>
        <p>
            <b>atom_GetClasses()</b> returns an array of the classes added to the atom using <b>atom_AddClass()</b>.
        </p>
        <p>
            <b>Note:</b> this method is only available in PHP.
        </p>



        <a name="atom_SetContentHTML"></a>
        <h3>atom_SetContentHTML()</h3>
        <code>atom_SetContentHTML(html_or_atom)</code>

        <dl>
            <dt>html_or_atom</dt>
            <dd>A string of HTML, or another Atom instance
        </dl>

        <p>
            Tells the Atom to use the specified HTML string or Atom instance as its contents. If you have already set
            content text using <a href="#atom_SetContentText">atom_SetContentText()</a>, the text will be replaced with
            the new html.
        </p>
        <p>
            <b>atom_SetContentHTML()</b> should only be implemented for atoms that contain a single body of html, such
            as a modal dialog.
        </p>
        <h4>Example (JS)</h4>
        <pre>
var my_widget = new Atom_MyWidget();
my_widget.atom_SetContentHTML("&lt;b&gt;Hello world&lt;/b&gt;");
my_widget.atom_GetJQObject().appendTo('body'); </pre>
        <h4>Example (PHP)</h4>
        <pre>
$my_widget = new Atom_MyWidget();
$my_widget-&gt;atom_SetContentHTML("&lt;b&gt;Hello world&lt;/b&gt;");
echo $my_widget-&gt;atom_GetHTML(); </pre>
        <h4>Result:</h4>
        <pre>
&lt;<i>html-element</i>&gt;
    &lt;b&gt;Hello World&lt;/b&gt;
&lt;/<i>html-element</i>&gt; </pre>



        <a name="atom_SetContentText"></a>
        <h3>atom_SetContentText()</h3>
        <code>atom_SetContentText(text)</code>
        <dl>
            <dt>text</dt>
            <dd>A string of text</dd>
        </dl>
        <p>
            <b>atom_SetContentText()</b> tells the Atom to use the specified text for its contents. The text will have
            special characters encoded as html entities. If you have already specified content using
            <a href="#atom_SetContentHTML">atom_SetContentHTML()</a>, the html content will be replaced by the new text
            content.
        </p>
        <p>
            <b>atom_SetContentText()</b> should only be implemented for atoms that contain a single body of html, such
            as a modal dialog.
        </p>
        <h4>Example (JS)</h4>
        <pre>
var my_widget = new Atom_MyWidget();
my_widget.atom_SetContentText("&lt;b&gt;Hello world&lt;/b&gt;");
my_widget.atom_GetJQObject().appendTo('body'); </pre>
        <h4>Example (PHP)</h4>
        <pre>
$my_widget = new Atom_MyWidget();
$my_widget-&gt;atom_SetContentText("&lt;b&gt;Hello world&lt;/b&gt;");
echo $my_widget-&gt;atom_GetHTML(); </pre>
        <h4>Result:</h4>
        <pre>
&lt;<i>html-element</i>&gt;
    &amp;lt;b&amp;gt;Hello World&amp;lt;/b&amp;gt;
&lt;/<i>html-element</i>&gt; </pre>



        <a name="atom_GetContentHTML"></a>
        <h3>atom_GetContentHTML()</h3>
        <code>html_string = atom_GetContentHTML()</code>
        <p>
            <b>atom_GetContentHTML()</b> returns the html string that was previously set by
            <a href="#atom_SetContentHTML">atom_SetContentHTML()</a> or
            <a href="#atom_SetContentText">atom_SetContentText()</a>. If an Atom instance was used as the argument to
            <a href="#atom_SetContentHTML">atom_SetContentHTML()</a> then the Atom's html is returned, not the Atom
            object. If <a href="#atom_SetContentText">atom_SetContentText()</a> was used then the text is returned in
            its HTML encoded form.
        </p>
        <h4>Example (JS)</h4>
        <pre>
var my_widget = new Atom_MyWidget();
my_widget.atom_SetContentText("&lt;b&gt;Hello world&lt;/b&gt;");
// Displays "Hello &lt;b&gt;Hello world&lt;/b&gt;"
alert(my_widget.atom_GetContentHTML()) </pre>
        <h4>Example (PHP)</h4>
        <pre>
$my_widget = new Atom_MyWidget();
$my_widget-&gt;atom_SetContentText("&lt;b&gt;Hello world&lt;/b&gt;");
// Displays "Hello &amp;lt;b&amp;gt;Hello world&amp;lt/b&amp;gt;"
echo $my_widget-&gt;atom_GetContentHTML()) </pre>



        <a name="atom_GetHTML"></a>
        <h3>atom_GetHTML()</h3>
        <code>html_string = atom_GetHTML()</code>
        <p>
            <b>atom_GetHTML()</b> returns the entire html string used to render the atom.
        </p>
        <h4>Example (JS)</h4>
        <pre>
var my_widget = new Atom_MyWidget();
document.write(my_widget.atom_GetHTML()); </pre>
        <h4>Example (PHP)</h4>
        <pre>
$my_widget = new Atom_MyWidget();
echo $my_widget-&gt;atom_GetHTML(); </pre>



        <a name="atom_GetJQObject"></a>
        <h3>atom_GetJQObject()</h3>
        <code>jquery_object = atom_GetJQObject()</code>
        <p>
            <b>atom_GetJQObject()</b> returns the main DOM element for the atom so that it can be attached to the html
            document. It is only available in javascript.
        </p>
        <h4>Example (JS)</h4>
        <pre>
var my_widget = new Atom_MyWidget();
my_widget.atom_GetJQObject().appendTo($('body')); </pre>






































    </div>
</div>

<?php
page_foot();


