<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<h2>Documentation - class ADS_Main</h2>

<div style="position: relative;">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content" style="margin-left: 220px;">
        <h3>class ADS_Main</h3>

        <p>
            Since ADS is all about writing individual PHP/JS/CSS files for each component of your UI, the ADS_Main class
            performs an important function of putting these individual files back together for you.
        </p>

        <h4>Example: loading multiple atoms (PHP)</h4>
        <pre>
&lt;?php
// load PHP classes for various atoms
$ADS = new ADS_Main;
$ADS-&gt;ads_LoadAtom('Atom_Calculator'); // includes the Atom_Calculator php class
$ADS-&gt;ads_LoadAtom('Atom_Datepicker'); // includes the Atom_Datepicker php class
$ADS-&gt;ads_LoadAtom('Atom_Clock');      // includes the Atom_Clock php class
<!-- TODO - this is very poor example code - we need to show how to do this properly -->
// combine all CSS into a single sytle tag
echo "&lt;style&gt;\n{$ADS-&gt;ads_GetAllCSS()}\n&lt;/style&gt;";
// combine all JS into a single script tag
echo "&lt;script&gt;\n{$ADS-&gt;ads_GetAllJS()}\n&lt;/script&gt;";
        </pre>

        <!--
            TODO - notes on how to customise ADS - swap in your own LESS or SASS versions of it
        -->

        <h3>ADS_Main::ads_LoadAtom()</h3>
        <code>public ads_LoadAtom($atom_name)</code>
        <dl>
            <dt>$atom_name</dt>
            <dd>The name of the atom PHP class you want to load</dd>
        </dl>

        <p>
            This <em>public</em> method include()s the PHP class for an atom, and also appends the atom's global JS and
            CSS code to the output of ads_GetAllJS() and ads_GetAllCSS(), respectively.
        </p>

        <h3>ADS_Main::ads_GetAllCSS()</h3>
        <code>public ads_GetAllCSS($params = null)</code>
        <dl>
            <dt>$params</dt>
            <dd>If you want to dynamically generate CSS by overriding _getAtomCSS(), you will probably want to pass in
                an array or object containing the dynamic parameters. You can use the $params variable for this. The
                $params argument will be passed on to the _getAtomCSS() method for you.
            </dd>
        </dl>

        <p>
            This <em>public</em> method compiles the CSS for all atoms loaded with ads_LoadAtom() into a single string
            of CSS code. You can then output all of this CSS in a single &lt;style&gt; tag, or in a single
            dynamically generated "everything.css" file.
        </p>

        <p>
            Internally, this method calls ADS_Main::_getAtomCSS() for each atom that has been loaded.
        </p>

        <h3>ADS_Main::ads_GetAllJS()</h3>
        <code>public ads_GetAllJS()</code>

        <p>
            This <em>public</em> method compiles the JS for all atoms loaded with ads_LoadAtom() into a single string
            of JS code. You can then output all of this JS in a single &lt;script&gt; tag, or in a single dynamically
            generated "everything.js" file.
        </p>

        <!-- TODO - note about "initialisers" for each atom not being included in this code -->

        <p>
            Internally, this method calls ADS_Main::_getAtomJS() for each atom that has been loaded.
        </p>

        <h3>ADS_Main::_getAtomPHP()</h3>
        <code>protected _getAtomPHP($atom_name)</code>
        <dl>
            <dt>$atom_name</dt>
            <dd>The name of the atom PHP class you want to load</dd>
        </dl>
        <p>
            This <em>protected</em> method finds the PHP class for an atom and include()s it. The default behaviour is
            to look for <code>Atom/MyWidget.atom.php</code> in PHP's <a
            href="http://www.php.net/manual/en/ini.core.php#ini.include-path">include_path</a> where the name of the
            atom class is <code>Atom_MyWidget</code>.
        </p>

        <h3>ADS_Main::_getAtomCSS()</h3>
        <code>protected _getAtomCSS($atom_name, $params = null)</code>
        <dl>
            <dt>$atom_name</dt>
            <dd>The name of the atom class you want to load the global CSS for</dd>
            <dt>$params</dt>
            <dd>If you want to dynamically generate CSS by overriding _getAtomCSS(), you will probably want to pass in
                an array or object containing the dynamic parameters. You can use the $params variable for this.
            </dd>
        </dl>
        <p>
            This <em>protected</em> method finds the global CSS file related to an atom's class and returns the contents
            of the file as a string.  The builtin version simply looks for <code>Atom/MyWidget.atom.css</code> in PHP's
            <a href="http://www.php.net/manual/en/ini.core.php#ini.include-path">include_path</a> where the name of the
            atom class is <code>Atom_MyWidget</code>.
        </p>

        <p>
            You could potentially override this method in a child class of <code>ADS_Main</code> and add custom
            code to generate css from a <a href="http://sass-lang.com/">SASS</a> or
            <a href="http://lesscss.org/">{less}</a> source file instead.
        </p>

        <h3>ADS_Main::_getAtomJS()</h3>
        <code>protected _getAtomCSS($atom_name)</code>
        <dl>
            <dt>$atom_name</dt>
            <dd>The name of the atom class you want to load the global JS for</dd>
        </dl>
        <p>
            This <em>protected</em> method finds the global JS file related to an atom's class and returns the contents
            of the file as a string.  The builtin version simply looks for <code>Atom/MyWidget.atom.js</code> in PHP's
            <a href="http://www.php.net/manual/en/ini.core.php#ini.include-path">include_path</a> where the name of the
            atom class is <code>Atom_MyWidget</code>.
        </p>

        <!--
            TODO - add a note about separate initialiser javascript code for each instance of the widget.  We probably
            need a separate page than can explain this concept properly
        -->
    </div>
</div>

<?php
page_foot();

