<?php
include 'menu.php';
page_head(basename(__FILE__));
?>

<div class="docs_block">
    <h2>Documentation - Javascript Helper Functions</h2>
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content">
        <ul>
            <li><a href="#ADS.GetPostData">ADS.GetPostData()</a>
            <li><a href="#ADS.GetControlByName">ADS.GetControlByName()</a>
            <li><a href="#ADS.GetControlList">ADS.GetControlList()</a>
        </ul>


        
        <a name="ADS.GetPostData"></a>
        <h3>ADS.GetPostData()</h3>
        <code>ADS.GetPostData(html_element)</code>
        <dl>
            <dt>html_element</dt>
            <dd>
                A html DOM element, typically a &lt;form&gt;, but any DOM element is valid.
            </dd>
        </dl>
        <p>
            This function traverses the DOM starting at html_element and looks for all &lt;input&gt;,
            &lt;textarea&gt; and &lt;select&gt; elements, and then combines their values into a multi-level object
            in the same way that PHP does.
        </p>
        <p>
            <b>Important!</b> valid control names are allowed in the following formats:
        </p>
            <pre>name
name[]
name[0]
name[key]
name[key][]
name[key][0]
name[key][key]
name[0][...]
name[][...]</pre>
        <p>
            <u>name</u> and <u>key</u> are allowed the characters "<code>a-z A-Z 0-9</code>" and "<code>_ . - +</code>".
        </p>
        <p>
            Names with formats other than the above <b>might</b> work, but they are not guaranteed.
        </p>



        <a name="ADS.GetControlByName"></a>
        <h3>ADS.GetControlByName()</h3>
        <code>ADS.GetControlByName(control_name, [ parent_element ])</code>
        <p>
            This function traverses the DOM starting at <u>parent_element</u> (or window.document if no parent element
            is specified) and looks for the control atom with the name of <u>control_name</u>.
        </p>
        <p>
            <b>Important!</b> Control atoms must have the class <code>atom-control</code> or else this function will not
            find them.
        </p>
        <p>
            You can specify <u>parent_element</u> if you have many controls in your document and you want to speed up
            the search.
        </p>



        <a name="ADS.GetControlList"></a>
        <h3>ADS.GetControlList()</h3>
        <code>ADS.GetControlList(html_element)</code>
        <p>
            This function traverses the DOM starting at <u>html_element</u> and looks for all html nodes that represent
            control atoms (recognised by their <code>data-atom-control-name</code> attribute) and builds a dictionary so
            that you can look them up easily.
        </p>



    </div>
</div>

<?php
page_foot();


