<?php
include 'menu.php';
page_head(basename(__FILE__));
?>

<div class="docs_block">
    <h2>Documentation - Atom Method Reference - Display</h2>
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content">
        <ul>
            <li><a href="#atom_DrawBlock">atom_DrawBlock()</a></li>
            <li><a href="#atom_DrawInline">atom_DrawInline()</a></li>
            <li><a href="#atom_DrawFixed">atom_DrawFixed()</a></li>
            <li><a href="#atom_DrawAbsolute">atom_DrawAbsolute()</a></li>
            <li><a href="#atom_DrawFloat">atom_DrawFloat()</a></li>
            <li><a href="#atom_DrawCustom">atom_DrawCustom()</a></li>
        </ul>
        <ul>
            <li><a href="#atom_Hide">atom_Hide()</a></li>
            <li><a href="#atom_Show">atom_Show()</a></li>
        </ul>
        <ul>
            <li><a href="#atom_SetHeight">atom_SetHeight()</a></li>
            <li><a href="#atom_SetHeightRange">atom_SetHeightRange()</a></li>
            <li><a href="#atom_SetWidth">atom_SetWidth()</a></li>
            <li><a href="#atom_SetWidthRange">atom_SetWidthRange()</a></li>
            <li><a href="#atom_SetMargin">atom_SetMargin()</a></li>
            <li><a href="#atom_SetMargin">atom_SetClear()</a></li>
        </ul>

        <p>
            <b>TODO:</b> some extra methods are needed for extending and implementing displays such as <code>table,
            inline-table, list-item</code> etc.
        </p>

        

        <a name="atom_DrawBlock"></a>
        <h3>atom_DrawBlock()</h3>
        <code>atom_DrawBlock(top = 'auto', right = 'auto', bottom = 'auto', left = 'auto')</code>
        <dl>
            <dt>top, right, bottom, left</dt>
            <dd>
                Optional: value to use for the css <code>top, right, bottom</code> and <code>left</code> properties,
                respectively. Using <code>''</code> (empty string) will allow the web page's CSS rules to determine what
                value to use for a particular dimension. <b>Note:</b> if any of these arguments are provided, the value
                <b>must be a string or an integer</b> otherwise the expected behaviour is undefined. If any of these
                arguments are omitted, they are set to the CSS default of <code>'auto'</code>.
        </dl>
        <p>
            This method tells the Atom to give its outermost element <code>display: block;</code> and
            <code>position: static;</code> so that the atom will be layed out like a normal block-level element. If any
            of the <code>top, right, bottom</code> or <code>left</code> arguments are provided and not set to
            <code>'auto'</code> then the atom will use <code>position: relative;</code> instead.
        </p>
        <p>
            This method also sets <code>float: none;</code> to prevent that CSS property from interfering with the
            layout of the atom.
        </p>

        <h4>Example 1 (JS)</h4>
        <pre>
// display: block;
// position: static;
// float: none;
// top, right, bottom and left CSS properties are ignored because of position: static
MyWidget.atom_DrawBlock();</pre>

        <h4>Example 2 (JS)</h4>
        <pre>
// display: block;
// position: relative;
// float: none;
// top: 5;
// right: auto;
// bottom: auto;
// left: 10px;
MyWidget.atom_DrawBlock(5, 'auto', 'auto', '10px');</pre>

        <h4>Example 3 (JS)</h4>
        <pre>
// display: block;
// position: relative;
// float: none;
// top: (use page's CSS rules);
// right: (use page's CSS rules);
// bottom: auto;
// left: auto;
MyWidget.atom_DrawBlock('', '', 'auto');</pre>

        <h4>Example 4 (JS)</h4>
        <pre>
// display: block;
// position: relative;
// float: none;
// top: (use page's CSS rules);
// right: (use page's CSS rules);
// bottom: (use page's CSS rules);
// left: (use page's CSS rules);
MyWidget.atom_DrawBlock('', '', '', '');</pre>



        <a name="atom_DrawInline"></a>
        <h3>atom_DrawInline()</h3>
        <code>atom_DrawInline(top = 'auto', right = 'auto', bottom = 'auto', left = 'auto')</code>
        <dl>
            <dt>top, right, bottom, left</dt>
            <dd>
                Optional: value to use for the css <code>top, right, bottom</code> and <code>left</code> properties,
                respectively. Using <code>''</code> (empty string) will allow the web page's CSS rules to determine what
                value to use for a particular dimension. <b>Note:</b> if any of these arguments are provided, the value
                <b>must be a string or an integer</b> otherwise the expected behaviour is undefined. If any of these
                arguments are omitted, they are set to the CSS default of <code>'auto'</code>.
        </dl>
        <p>
            This method tells the Atom to give its outermost element <code>display: inline-block;</code>
            and <code>position: static;</code> so that the atom will fit in the normal flow of text. If any of the
            <code>top, right, bottom</code> or <code>left</code> arguments are provided and not set to
            <code>'auto'</code> then the atom will use <code>position: relative;</code> instead.
        </p>
        <p>
            This method also sets <code>float: none;</code> to prevent that CSS property from interfering with the
            layout of the atom.
        </p>

        <h4>Example 1 (JS)</h4>
        <pre>
// display: inline-block;
// position: static;
// float: none;
// top, right, bottom and left CSS properties are ignored because of position: static
MyWidget.atom_DrawInline();</pre>

        <h4>Example 2 (JS)</h4>
        <pre>
// display: inline-block;
// position: relative;
// float: none;
// top: 5;
// right: auto;
// bottom: auto;
// left: 10px;
MyWidget.atom_DrawInline(5, 'auto', 'auto', '10px');</pre>

        <p>
            <b>Note:</b> Refer to <a href="#atom_DrawBlock">atom_DrawBlock()</a> for further examples on how the top,
            right, bottom and left arguments will affect the CSS rules.
        </p>



        <a name="atom_DrawAbsolute"></a>
        <h3>atom_DrawAbsolute()</h3>
        <code>atom_DrawAbsolute(top = 'auto', right = 'auto', bottom = 'auto', left = 'auto')</code>
        <dl>
            <dt>top, right, bottom, left</dt>
            <dd>
                Optional: value to use for the css <code>top, right, bottom</code> and <code>left</code> properties,
                respectively. Using <code>''</code> (empty string) will allow the web page's CSS rules to determine what
                value to use for a particular dimension. <b>Note:</b> if any of these arguments are provided, the value
                <b>must be a string or an integer</b> otherwise the expected behaviour is undefined. If any of these
                arguments are omitted, they are set to the CSS default of <code>'auto'</code>.
        </dl>
        <p>
            Tells the Atom to use <code>display:block; position:absolute;</code>, with the respective top, right, bottom and left css
            values.
        </p>

        <h4>Example 1 (JS)</h4>
        <pre>
// display: block;
// position: absolute;
// float: none;
// top: auto;
// right: auto;
// bottom: auto;
// left: auto;
MyWidget.atom_DrawAbsolute();</pre>

        <h4>Example 2 (JS)</h4>
        <pre>
// display: block;
// position: absolute;
// float: none;
// top: 5px;
// right: 10%;
// bottom: auto;
// left: auto;
MyWidget.atom_DrawAbsolute('5px', '10%');</pre>

        <h4>Example 3 (JS)</h4>
        <pre>
// display: block;
// position: fixed;
// float: none;
// top: 10px;
// right: auto;
// bottom: auto;
// left: (use page's CSS rules);
MyWidget.atom_DrawAbsolute('10px', 'auto', 'auto', '');</pre>



        <a name="atom_DrawFixed"></a>
        <h3>atom_DrawFixed()</h3>
        <code>atom_DrawFixed(top = 'auto', right = 'auto', bottom = 'auto', left = 'auto')</code>
        <dl>
            <dt>top, right, bottom, left</dt>
            <dd>
                Optional: value to use for the css <code>top, right, bottom</code> and <code>left</code> properties,
                respectively. Using <code>''</code> (empty string) will allow the web page's CSS rules to determine what
                value to use for a particular dimension. <b>Note:</b> if any of these arguments are provided, the value
                <b>must be a string or an integer</b> otherwise the expected behaviour is undefined. If any of these
                arguments are omitted, they are set to the CSS default of <code>'auto'</code>.
            </dd>
        </dl>
        <p>
            Tells the Atom to use <code>position: fixed</code>, with the respective top, right, bottom and left css
            values.
        </p>
            
        <h4>Example 1 (JS)</h4>
        <pre>
// display: block;
// position: fixed;
// float: none;
// top: auto;
// right: auto;
// bottom: auto;
// left: auto;
MyWidget.atom_DrawFixed();</pre>

        <h4>Example 2 (JS)</h4>
        <pre>
// display: block;
// position: fixed;
// float: none;
// top: 5px;
// right: 10%;
// bottom: auto;
// left: auto;
MyWidget.atom_DrawFixed('5px', '10%');</pre>

        <h4>Example 3 (JS)</h4>
        <pre>
// display: block;
// position: fixed;
// float: none;
// top: 10px;
// right: auto;
// bottom: auto;
// left: (use page's CSS rules);
MyWidget.atom_DrawFixed('10px', 'auto', 'auto', '');</pre>



        <a name="atom_DrawFloat"></a>
        <h3>atom_DrawFloat()</h3>
        <code>atom_DrawFloat(direction)</code>
        <dl>
            <dt>direction</dt>
            <dd>
                Can be either <code>'left'</code> or <code>'right'</code>. The behaviour of any other value is
                undefined.
            </dd>
        </dl>
        <p>
            This method tells the Atom to give its outermost element <code>display: block;</code>
            and <code>position: static;</code> and <code>float: <u>direction</u>;</code> so that the atom will float 
            in that direction.
        </p>
        <p>
            Note that the other <b>atom_Draw*()</b> methods will reset the <code>float</code> css property.
        </p>

        <h4>Example (JS)</h4>
        <pre>
// display: block;
// position: static;
// float: left;
MyWidget.atom_DrawFloat('left');</pre>



        <a name="atom_DrawCustom"></a>
        <h3>atom_DrawCustom()</h3>
        <code>atom_DrawCustom(display = '', position = '', float = '', top = '', right = '', bottom = '', left = '')</code>
        <dl>
            <dt>display, position, float, top, right, bottom, left</dt>
            <dd>
                Optional: value to use for the relevant CSS property. Omitting an argument or Using <code>''</code>
                (empty string) will cause that CSS property to be determined by the page's CSS rules. Otherwise, any
                argument provided must be an allowable CSS value for the relevant property. Use of values other than
                strings (or integers for <code>top, right, bottom, left</code>) is undefined.
            </dd>
        </dl>
        <p>
            Use this method to reset all of the positioning CSS rules at once, or implement a custom arrangement of
            those rules.
        </p>
        <h4>Example 1 (JS)</h4>
        <pre>
// display: (use page's CSS rules);
// position: (use page's CSS rules);
// float: (use page's CSS rules);
// top: (use page's CSS rules);
// right: (use page's CSS rules);
// bottom: (use page's CSS rules);
// left: (use page's CSS rules);
MyWidget.atom_DrawCustom();</pre>
        <h4>Example 2 (JS)</h4>
        <pre>
// display: inline-table;
// position: relative;
// float: (use page's CSS rules);
// top: auto;
// right: auto;
// bottom: 5px;
// left: (use page's CSS rules);
MyWidget.atom_DrawCustom('inline-table', 'relative', '', 'auto', 'auto', '5px', '');</pre>



        <a name="atom_Hide"></a>
        <h3>atom_Hide()</h3>
        <code>atom_Hide()</code>
        <p>
            <b>atom_Hide()</b> adds the <code>display: none</code> CSS property to the element.
        <p>



        <a name="atom_Show"></a>
        <h3>atom_Show()</h3>
        <code>atom_Show()</code>
        <p>
            Use this method to undo a previous call to <b>atom_Hide()</b>.</b>
        </p>



        <a name="atom_SetHeight"></a>
        <h3>atom_SetHeight()</h3>
        <code>atom_SetHeight(fixed_height)</code>
        <p>
            Use this method to set a fixed height on the atom's main element. Use <code>''</code> (empty string) to
            clear the height value so that the page's default CSS rules are used instead. Note that using
            <b>atom_SetHeightRange()</b> will override this value, unless it is within the allowed range.
        </p>



        <a name="atom_SetHeightRange"></a>
        <h3>atom_SetHeightRange()</h3>
        <code>atom_SetHeightRange(min_height, max_height)</code>
        <p>
            Use this method to set a minimum height and/or maximum height on the element. Use <code>''</code> (empty
            string) to clear either or both values so that the page's CSS ruels are used insetad. Setting a minimum or
            maximum height may override the fixed height set using <b>atom_SetHeight()</b>.
        </p>



        <a name="atom_SetWidth"></a>
        <h3>atom_SetWidth()</h3>
        <code>atom_SetWidth(fixed_width)</code>
        <p>
            Use this method to set a fixed width on the atom's main element. Use <code>''</code> (empty string) to clear the width
            value. Note that using <b>atom_SetWidthRange()</b> will override this value, unless it is within the
            allowed range.
        </p>



        <a name="atom_SetWidthRange"></a>
        <h3>atom_SetWidthRange()</h3>
        <code>atom_SetWidthRange(min_width, max_width)</code>
        <p>
            Use this method to set a minimum width and/or maximum width on the element. Use <code>''</code> (empty
            string) to clear either or both values so that the page's CSS rules are used instead.  Setting a minimum or
            maximum width may override the fixed width set using <b>atom_SetWidth()</b>.
        </p>



        <a name="atom_SetMargin"></a>
        <h3>atom_SetMargin()</h3>
        <code>atom_SetMargin(top, right, bottom, left)</code>
        <p>
            Use this method to set margins around the atom. You can use <code>''</code> (empty string) to clear a margin
            value so that the page's CSS rules are used instead.
        </p>
        <p>
            <b>Warning:</b> All arguments must be provided - you cannot, for example, omit the the <u>left</u> argument
            and expect it to use the <u>right</u> argument's value automatically.
        </p>



        <a name="atom_SetClear"></a>
        <h3>atom_SetClear()</h3>
        <code>atom_SetClear(clear)</code>
        <dl>
            <dt>clear</dt>
            <dd>Possible values are <code>'none', 'left', 'right', 'both'</code> or <code>''</code> (empty string).</dd>
        </dl>
        <p>
            Use this method to set the CSS <code>clear</code> property to define behaviour around other floated
            elements. You can use <code>''</code> (empty string) to reset this value so that the page's CSS rules are
            used instead.
        </p>



    </div>
</div>

<?php
page_foot();

