<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<div class="docs_block">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <h2>Documentation - Overview</h2>
    <div class="api-documentation-content">
        <p>
            Atom Design System aims to solve the following problems with its unique approach to UI construction:
            <ul>
                <li></li>
            </ul>
        </p>
        <pre>
        TODO
        - Provide overview of the major sections
        - link to Demo and Tutorial for those who might have skipped it
        - license information
        </pre>
    </div>
</div>

<?php
page_foot();

