<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<h1>Documentation - ADS.AtomStandard</h1>

<div style="position: relative;">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content" style="margin-left: 220px;">
        <pre>
        TODO
        - How to use ADS.AtomStandard as a prototype, use it to identify Atom instances ADS_Main
        - What methods you will get by default, and how to integrate them
        - list to documentation of methods
        - links to other JS objects and why you would use them instead
        </pre>
    </div>
</div>

<?php
page_foot();

