<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<h1>Documentation - class ADS_AtomControl</h1>

<div style="position: relative;">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content" style="margin-left: 220px;">
        <pre>
        TODO
        - How to use ADS_AtomControl
        - How to customise it, link to full method specs
        </pre>
    </div>
</div>

<?php
page_foot();


