<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<h1>Build Your Own - Javascript</h1>

<div style="position: relative;">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content" style="margin-left: 220px;">
        <pre>
        TODO
        - How to Setup ADS_Main
        - Create Javascript class to generate DOM object
        - How to use it
        </pre>
    </div>
</div>

<?php
page_foot();

