<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<h1>Build Your Own - PHP</h1>

<div style="position: relative;">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content" style="margin-left: 220px;">
        <pre>
        TODO
        - link to step 1 and step 2 if needed
        - Create PHP class to generate the same HTML
        - How to use it
        - link to full documentation?
        </pre>
    </div>
</div>

<?php
page_foot();

