<?php
include 'menu.php';
page_head(basename(__FILE__));
?>
<h1>Build Your Own - CSS</h1>

<div style="position: relative;">
    <?php ads_side_menu(basename(__FILE__)); ?>
    <div class="api-documentation-content" style="margin-left: 220px;">
        <pre>
        TODO
        - message about doing Step 1 first
        - Create Javascript class to generate DOM object
        - Create matching CSS file to style your new element
        - Should work automatically
        - notes about how to nest class names
        - notes about how to use class names should be in the full documentation somewhere ...
        </pre>
    </div>
</div>

<?php
page_foot();

