.Tile_MenuBar {
    font-size: 20px;
    padding: 5px 10px;
    margin: 0;
    background: #ccc;
}

.Tile_MenuBar > a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.Tile_MenuBar > a:hover {
    text-decoration: underline;
}
