.Tile_Page > body {
    margin: 0;
    padding: 0;

    font-family: Arial;
    font-size: 14px;
    color: #333;
}

h1 {
    margin-bottom: 0px;
}

/* some typical elements */
h3 {
    margin-top: 40px;
    font-size: 18px;
    border-bottom: solid #333 1px;
}

h4 {
    font-size: 12px;
    margin-bottom: 0px;
}

code {
    background-color: #ddd;
}

pre {
    display: inline-block;
    background-color: #ddd;;
    border: dashed 1px #ccc;
    margin: 0;
    padding: 2px 5px;
}

.Tile_Page > body > .__notmenu {
    position: relative;
    padding-left: 220px;
}
.Tile_Page > body > .__notmenu > .__sidemenu {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
