.Tile_RefMenu {
    width: 200px;
    display: block;
    padding: 0px 20px;
    border-right: dashed 1px #ccc;
}

.Tile_RefMenu > strong {
    display: block;
}

.Tile_RefMenu > a {
    display: block;
    font-weight: normal;
    margin-left: 10px;
}

.Tile_RefMenu > a.__index {
    margin-left: 20px;
}

